<ion-header>
  <ion-toolbar>
    <ion-title> Tutorial 5 Home Page </ion-title>
    <ion-buttons>
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item routerLink="/members"> Members Management Page </ion-item>
    <ion-item routerLink="/activity"> Acitivity Page </ion-item>
    <ion-item routerLink="/sign-in"> Sign in/out Page </ion-item>
    <ion-item routerLink="/view-activities"> View Acitivities Page </ion-item>
  </ion-list>
</ion-content>
