<ion-header>
  <ion-toolbar>
    <ion-title> Exercises </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item routerLink="/budget-planner"> Budget Planner </ion-item>
    <ion-item routerLink="/tutorial1"> Tutorial 1 </ion-item>
    <ion-item routerLink="/tutorial2"> Tutorial 2 </ion-item>
    <ion-item routerLink="/tutorial3"> Tutorial 3 </ion-item>
    <ion-item routerLink="/tutorial4"> Tutorial 4 </ion-item>
    <ion-item routerLink="/login"> Login Form Validation </ion-item>
    <ion-item routerLink="/tutorial5"> Tutorial 5 </ion-item>
  </ion-list>
</ion-content>
