<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Members Registeration</ion-title>
    <ion-buttons>
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Register Member</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input
          label="Student ID"
          placeholder="Enter your Student ID"
          labelPlacement="stacked"
          type="number"
          [(ngModel)]="newMember.studentID"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="First Name"
          placeholder="Enter your First Name"
          labelPlacement="stacked"
          [(ngModel)]="newMember.firstName"
        ></ion-input>
      </ion-item>

      <ion-item
        ><ion-input
          label="Last Name"
          placeholder="Enter your Last Name"
          labelPlacement="stacked"
          [(ngModel)]="newMember.lastName"
        ></ion-input>
      </ion-item>

      <ion-item
        ><ion-input
          label="Age"
          placeholder="Enter your Age"
          labelPlacement="stacked"
          type="number"
          [(ngModel)]="newMember.age"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-select
          label="Gender"
          labelPlacement="stacked"
          placeholder="Select your gender"
          [(ngModel)]="newMember.gender"
        >
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item
        ><ion-select
          label="Major"
          placeholder="Enter your Major"
          labelPlacement="stacked"
          [(ngModel)]="newMember.major"
        >
          <ion-select-option value="Computer Science"
            >Computer Science</ion-select-option
          >
          <ion-select-option value="Computer Engineering"
            >Computer Engineering</ion-select-option
          >
          <ion-select-option value="Information System"
            >Information System</ion-select-option
          >
          <ion-select-option value="Software Engineering"
            >Software Engineering</ion-select-option
          >
          <ion-select-option value="Cyber Security"
            >Cyber Security</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item
        ><ion-input
          label="Email"
          placeholder="Enter your Email"
          labelPlacement="stacked"
          type="email"
          [(ngModel)]="newMember.email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Phone Number"
          placeholder="Enter your Phone Number"
          labelPlacement="stacked"
          type="tel"
          [(ngModel)]="newMember.phoneNumber"
        ></ion-input
      ></ion-item>

      <ion-button expand="block" class="ion-margin" (click)="AddMember()"
        >Submit</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Members List</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-accordion *ngFor="let m of fb.members$ | async">
            <ion-item slot="header" color="light">
              <ion-label
                >{{m.firstName}} {{m.lastName}} {{m.studentID}}</ion-label
              >
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-label>
                <ion-input
                  label="Student ID"
                  value="{{m.studentID}}"
                  [(ngModel)]="m.studentID"
                ></ion-input>
                <ion-input
                  label="First Name"
                  value="{{m.firstName}}"
                  [(ngModel)]="m.firstName"
                ></ion-input>
                <ion-input
                  label="Last Name"
                  value="{{m.lastName}}"
                  [(ngModel)]="m.lastName"
                ></ion-input>
                <ion-input
                  label="Age"
                  value="{{m.age}}"
                  [(ngModel)]="m.age"
                ></ion-input>
                <ion-select
                  label="Gender"
                  labelPlacement="stacked"
                  value="{{m.gender}}"
                  placeholder="Select your gender"
                  [(ngModel)]="m.gender"
                >
                  <ion-select-option value="Male">Male</ion-select-option>
                  <ion-select-option value="Female">Female</ion-select-option>
                </ion-select>
                <ion-select
                  label="Major"
                  placeholder="Enter your Major"
                  labelPlacement="stacked"
                  [(ngModel)]="m.major"
                  value="{{m.major}}"
                >
                  <ion-select-option value="Computer Science"
                    >Computer Science</ion-select-option
                  >
                  <ion-select-option value="Computer Engineering"
                    >Computer Engineering</ion-select-option
                  >
                  <ion-select-option value="Information System"
                    >Information System</ion-select-option
                  >
                  <ion-select-option value="Software Engineering"
                    >Software Engineering</ion-select-option
                  >
                  <ion-select-option value="Cyber Security"
                    >Cyber Security</ion-select-option
                  >
                </ion-select>
                <ion-input
                  label="Phone Number"
                  value="{{m.phoneNumber}}"
                  [(ngModel)]="m.phoneNumber"
                ></ion-input>
                <ion-input
                  label="Email Address"
                  value="{{m.email}}"
                  [(ngModel)]="m.email"
                ></ion-input>

                <ion-button slot="end" (click)="UpdateMember(m)"
                  >Update</ion-button
                >

                <ion-button slot="end" color="danger" (click)="DeleteMember(m)"
                  >Delete</ion-button
                >
              </ion-label>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
