<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button size="small" slot="end" routerLink="/activity"
      >Go to Activity Page</ion-button
    >
    <ion-title>Members</ion-title>
    <ion-buttons>
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Register Member</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="membersForm" (ngSubmit)="AddMember(); RegisterUser()">
        <ion-item>
          <ion-input
            label="Student ID"
            placeholder="Enter your Student ID"
            labelPlacement="stacked"
            formControlName="studentID"
            type="number"
          ></ion-input>
        </ion-item>
        <ion-item
          lines="none"
          *ngIf="membersForm.controls['studentID'].hasError('required')&&
          membersForm.controls['studentID'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >

        <ion-item>
          <ion-input
            label="First Name"
            placeholder="Enter your First Name"
            labelPlacement="stacked"
            formControlName="firstName"
          ></ion-input>
        </ion-item>
        <ion-item
          lines="none"
          *ngIf="membersForm.controls['firstName'].hasError('required') && 
          membersForm.controls['firstName'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >
        <ion-item
          lines="none"
          *ngIf="
          membersForm.controls['firstName'].hasError('maxLength') &&
          membersForm.controls['firstName'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >

        <ion-item
          ><ion-input
            label="Last Name"
            placeholder="Enter your Last Name"
            labelPlacement="stacked"
            formControlName="lastName"
          ></ion-input>
        </ion-item>
        <ion-item
          lines="none"
          *ngIf="membersForm.controls['lastName'].hasError('required') &&
          membersForm.controls['lastName'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >
        <ion-item
          lines="none"
          *ngIf="
          membersForm.controls['lastName'].hasError('maxLength') &&
          membersForm.controls['lastName'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >

        <ion-item
          ><ion-input
            label="Email"
            placeholder="Enter your Email"
            labelPlacement="stacked"
            type="email"
            formControlName="email"
          ></ion-input>
        </ion-item>
        <ion-item
          lines="none"
          *ngIf="membersForm.controls['email'].hasError('required') &&
          membersForm.controls['email'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >
        <ion-item
          lines="none"
          *ngIf="membersForm.controls['email'].hasError('pattern') && 
          membersForm.controls['email'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >

        <ion-item>
          <ion-input
            label="Phone Number"
            placeholder="Enter your Phone Number"
            labelPlacement="stacked"
            type="tel"
            formControlName="phoneNumber"
          ></ion-input
        ></ion-item>
        <ion-item
          lines="none"
          *ngIf="membersForm.controls['phoneNumber'].hasError('required') && 
          membersForm.controls['phoneNumber'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >
        <ion-item
          lines="none"
          *ngIf="membersForm.controls['phoneNumber'].hasError('pattern') && 
          membersForm.controls['phoneNumber'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >

        <ion-item
          ><ion-input
            label="Age"
            placeholder="Enter your Age"
            labelPlacement="stacked"
            type="number"
            formControlName="age"
          ></ion-input>
        </ion-item>
        <ion-item
          lines="none"
          *ngIf="membersForm.controls['age'].hasError('required') &&
          membersForm.controls['age'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >

        <ion-item>
          <ion-select
            label="Gender"
            labelPlacement="stacked"
            placeholder="Select your gender"
            formControlName="gender"
          >
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item
          lines="none"
          *ngIf="membersForm.controls['gender'].hasError('required') &&
          membersForm.controls['gender'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >

        <ion-item
          ><ion-select
            label="Major"
            placeholder="Enter your Major"
            labelPlacement="stacked"
            formControlName="major"
          >
            <ion-select-option value="Computer Science"
              >Computer Science</ion-select-option
            >
            <ion-select-option value="Computer Engineering"
              >Computer Engineering</ion-select-option
            >
            <ion-select-option value="Information System"
              >Information System</ion-select-option
            >
            <ion-select-option value="Software Engineering"
              >Software Engineering</ion-select-option
            >
            <ion-select-option value="Cyber Security"
              >Cyber Security</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item
          lines="none"
          *ngIf="membersForm.controls['major'].hasError('required') &&
          membersForm.controls['major'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >

        <ion-item>
          <ion-input
            label="Password"
            placeholder="Enter your Password"
            labelPlacement="stacked"
            type="Password"
            formControlName="password"
          ></ion-input
        ></ion-item>
        <ion-item
          lines="none"
          *ngIf="membersForm.controls['password'].hasError('required') && 
          membersForm.controls['password'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >
        <ion-item
          lines="none"
          *ngIf="
          membersForm.controls['password'].hasError('minLength') &&
          membersForm.controls['password'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >

        <ion-item>
          <ion-input
            label="Confirm Password"
            placeholder="Confirm your Password"
            labelPlacement="stacked"
            type="Password"
            formControlName="confirmPassword"
          ></ion-input
        ></ion-item>
        <ion-item
          lines="none"
          *ngIf="membersForm.controls['password'].hasError('required') && 
          membersForm.controls['password'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >
        <ion-item
          lines="none"
          *ngIf="
          membersForm.controls['password'].hasError('minLength') &&
          membersForm.controls['password'].touched"
        >
          <ion-text color="danger">**</ion-text></ion-item
        >

        <ion-button
          expand="block"
          class="ion-margin"
          type="submit"
          [disabled]="!membersForm.valid"
          >Submit</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Members List</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-accordion *ngFor="let m of fb.members$ | async">
            <ion-item slot="header" color="light">
              <ion-label
                >{{m.firstName}} {{m.lastName}} {{m.studentID}}</ion-label
              >
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-label>
                <ion-input
                  label="Student ID"
                  value="{{m.studentID}}"
                  [(ngModel)]="m.studentID"
                ></ion-input>
                <ion-input
                  label="First Name"
                  value="{{m.firstName}}"
                  [(ngModel)]="m.firstName"
                ></ion-input>
                <ion-input
                  label="Last Name"
                  value="{{m.lastName}}"
                  [(ngModel)]="m.lastName"
                ></ion-input>
                <ion-input
                  label="Age"
                  value="{{m.age}}"
                  [(ngModel)]="m.age"
                ></ion-input>
                <ion-select
                  label="Gender"
                  labelPlacement="stacked"
                  value="{{m.gender}}"
                  placeholder="Select your gender"
                  [(ngModel)]="m.gender"
                >
                  <ion-select-option value="Male">Male</ion-select-option>
                  <ion-select-option value="Female">Female</ion-select-option>
                </ion-select>
                <ion-select
                  label="Major"
                  placeholder="Enter your Major"
                  labelPlacement="stacked"
                  [(ngModel)]="m.major"
                  value="{{m.major}}"
                >
                  <ion-select-option value="Computer Science"
                    >Computer Science</ion-select-option
                  >
                  <ion-select-option value="Computer Engineering"
                    >Computer Engineering</ion-select-option
                  >
                  <ion-select-option value="Information System"
                    >Information System</ion-select-option
                  >
                  <ion-select-option value="Software Engineering"
                    >Software Engineering</ion-select-option
                  >
                  <ion-select-option value="Cyber Security"
                    >Cyber Security</ion-select-option
                  >
                </ion-select>
                <ion-input
                  label="Phone Number"
                  value="{{m.phoneNumber}}"
                  [(ngModel)]="m.phoneNumber"
                ></ion-input>
                <ion-input
                  label="Email Address"
                  value="{{m.email}}"
                  [(ngModel)]="m.email"
                ></ion-input>

                <ion-button slot="end" (click)="UpdateMember(m)"
                  >Update</ion-button
                >

                <ion-button slot="end" color="danger" (click)="DeleteMember(m)"
                  >Delete</ion-button
                >
              </ion-label>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
